---
<%=stopText%>
sidebar: auto
---

# Tymly Reference

## Plugins

| Name | Description |
| ---- | ----------- |
<% plugins.forEach(function(plugin){ -%>
| [<%= plugin.name%>](plugins/<%= plugin.name%>/) | <%=plugin.packageJson.description%> |
<% }); %>

## Blueprint

<% if(hasBlueprintDirs) {%>

### Component directories

| Directory | Description | Plugin |
| --------- | ----------- | ------ |
<% blueprintDirs.forEach(function(blueprintDir){ -%>
| `/<%= blueprintDir.dirName%>` | <%=blueprintDir.description%> | [<%=blueprintDir.pluginName%>](plugins/<%= blueprintDir.pluginName %>/)|
<% }); %>
<% } %>


### blueprint.json

## State Resources

| Directory | Description |
| --------- | ----------- |
<% stateResources.forEach(function(stateResource){ -%>
| [<%= stateResource.nameCamel %>](plugins/<%=stateResource.pluginName%>/state-resources/<%=stateResource.name%>.html) | <%= stateResource.docs.description %> |
<% }); %>

## Cardscript

### Containers

| Icon | Type | Description |
| ---- | ---- | ----------- |
<% cardscriptManifest.containers.forEach(function(container){ -%>
| <a href="cardscript/containers/<%=container.typeSafe%>.html"><img :src="$withBase('/cardscript-icons/24dp/<%= container.typeSafe %>.svg')" alt="Relevant Cardscript icon"></a> | [<%= container.type %>](cardscript/containers/<%=container.typeSafe%>.html) | <%- container.description -%> |
<% }); %>

### Elements
| Icon | Type | Description |
| ---- | ---- | ----------- |
<% cardscriptManifest.elements.forEach(function(element){ -%>
| <a href="cardscript/elements/<%=element.typeSafe%>.html"><img :src="$withBase('/cardscript-icons/24dp/<%= element.typeSafe %>.svg')" alt="Relevant Cardscript icon"></a> | [<%= element.type %>](cardscript/elements/<%=element.typeSafe%>.html) | <%- element.description -%> |
<% }); %>


### Inputs
| Icon | Type | Description |
| ---- | ---- | ----------- |
<% cardscriptManifest.inputs.forEach(function(input){ -%>
| <a href="cardscript/inputs/<%=input.typeSafe%>.html"><img :src="$withBase('/cardscript-icons/24dp/<%= input.typeSafe %>.svg')" alt="Relevant Cardscript icon"></a> | [<%= input.type %>](cardscript/inputs/<%=input.typeSafe%>.html) | <%- input.description -%> |
<% }); %>


### Actions
| Icon | Type | Description |
| ---- | ---- | ----------- |
<% cardscriptManifest.actions.forEach(function(action){ -%>
| <a href="cardscript/actions/<%=action.typeSafe%>.html"><img :src="$withBase('/cardscript-icons/24dp/<%= action.typeSafe %>.svg')" alt="Relevant Cardscript icon"></a> | [<%= action.type %>](cardscript/actions/<%=action.typeSafe%>.html) | <%- action.description -%> |
<% }); %>

## Services

| Directory | Description |
| --------- | ----------- |
<% services.forEach(function(service){ -%>
| [<%= service.nameCamel %>](plugins/<%=service.pluginName%>/services/<%=service.name%>.html) | <%= service.docs.description %> |
<% }); %>

